@charset "utf-8";
/* CSS Document */

html {
    background: black;
}

body {

}

/* Kavv */


label, input, textarea, select, td, th, div {
    font-size: 15px !important;
}

#form legend, .form-style legend{
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

#form fieldset, .form-style fieldset{
    padding: 10px;
    display: block;
    margin: 20px auto;
    width: 100% !important;
}

#form label:not(.default), .form-style label:not(.default){
    display: inline-block;
    text-align: left !important;
    margin: 0.3em 2% 0 0;
}

#form label:not(.not-w), .form-style label:not(.not-w){
    width: 100% !important;
}

#form input:not([type="checkbox"]):not([type="radio"]):not(.not-w), #form select:not(.not-w) {
    width: 100% !important;
}
.form-style input:not([type="checkbox"]):not([type="radio"]):not(.not-w), .form-style select:not(.not-w) {
    width: 100% !important;
}

#form p, .form-style p{
    margin: 5px 0
}

#tabla_wrapper {
    overflow-x: auto;
}

.pdf {
    cursor: pointer;
}

.tooltip-fixed {
    max-width: 270px;
    width: 100%;
}

.selectpicker
{
    left: 0!important;
}
#form textarea, #form2 textarea, .form-style textarea{
    text-transform: uppercase;
    border: 1px solid #505050 !important;
}
#form input , #form2 input, .form-style input{
    border: 1px solid #505050 !important;
}
#form p , #form2 p, .form-style p{
    position: relative;
}
#form select , #form2 select, .form-style select{
    border: 1px solid #505050 !important;
}
.bootstrap-select button {
    border: 1px solid #505050 !important;
}

.ui-front{
    z-index:10000!important;
}

#tabla_wrapper {
    width: 100%;
}

.dataTables_wrapper{
    overflow: hidden!important;
}
.buttons-excel  {
    color: #fff!important;
    background-color: #28a745!important;
    border-color: #28a745!important;
    font-size: 15px!important;
}
/* FIN KAVV */


h2 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.6em;
    color: #333;
    border-bottom: 1px solid #B0BED9;
    clear: both;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 1.8em;
    margin-top: 1em;
    letter-spacing: 2em;
}

header ul li, dl ul li, #foot li, .paginate li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}

#principal {
    border-radius: 5px;
    /*margin: 1em 2%;*/
    padding: 1em 3em;
    border: 1px solid #999;
    background: #fff;
    position: relative;
}

#cuerpo {
    border-radius: 5px;
    margin-bottom: 1.8em;
    margin-top: 1.8em;
    padding: 1em;
    border-bottom: 1px solid #999;
    background-color: #FFF;
    border: 1px solid #999;
}

#contenido {
    border-radius: 5px;
    padding: 2em;
    border: 1px solid #999;
}

#foot {
    clear: both;
    text-align: center;
    margin-top: 1.8em;
    border-top: 1px solid #999;
    padding-top: 1em;
    font-size: 0.85em;
}

/* Panel */
.tab {
    background: url(../../imagenes/tab_b.png) repeat-x 0 0;
    height: 42px;
    position: relative;
    top: 0;
    z-index: 999;
}

.tab ul.login {
    display: block;
    position: relative;
    float: right;
    clear: right;
    height: 42px;
    width: auto;
    font-weight: bold;
    line-height: 42px;
    margin: 0;
    right: 150px;
    color: white;
    font-size: 80%;
    text-align: center;
}

.tab ul.login li.left {
    background: url(../../imagenes/tab_l.png) no-repeat left 0;
    height: 42px;
    width: 30px;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

.tab ul.login li.right {
    background: url(../../imagenes/tab_r.png) no-repeat left 0;
    height: 42px;
    width: 30px;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}

.tab ul.login li {
    text-align: left;
    padding: 0 6px;
    display: block;
    float: left;
    height: 42px;
    background: url(../../imagenes/tab_m.png) repeat-x 0 0;
}

.tab ul.login li a {
    color: #15ADFF;
}

.tab ul.login li a:hover {
    color: white;
}

.tab .sep {
    color: #414141
}

.tab a.pass, .tab a.close, .tab a.direc, .tab a.pqrs {
    height: 20px;
    line-height: 20px !important;
    padding-left: 20px !important;
    cursor: pointer;
    display: block;
    position: relative;
    top: 11px;
}

.tab a.pass {
    background: url(../../imagenes/bt_pass.png) no-repeat left 0;
}

.tab a.close {
    background: url(../../imagenes/bt_close.png) no-repeat left 0;
}

.tab a.direc {
    background: url(../../imagenes/bt_direc.png) no-repeat left 0;
}

.tab a.pqrs {
    background: url(../../imagenes/bt_pqrs.png) no-repeat left 0;
}

.tab a:hover.pass {
    background: url(../../imagenes/bt_pass.png) no-repeat left -19px;
}

.tab a:hover.close {
    background: url(../../imagenes/bt_close.png) no-repeat left -19px;
}

.tab a:hover.direc {
    background: url(../../imagenes/bt_direc.png) no-repeat left -19px;
}

.tab a:hover.pqrs {
    background: url(../../imagenes/bt_pqrs.png) no-repeat left -19px;
}

/* sliding panel */
#toppanel {
    position: fixed; /*Panel will overlap  content */
    /*position: relative;*/ /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
    width: 100%;
    height: 210px;
    color: #999999;
    background: #272727;
    overflow: hidden;
    position: relative;
    z-index: 3;
    display: none;
}

/* Top */
#top {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

#top a {
    text-decoration: none;
}

#top span {
    width: 30px;
    height: 30px;
    display: block;
    background: url(../../imagenes/flecha-arriba.png) no-repeat center center;
}

/* -- Top -- */
/* Mapa */
.mapa {
    font-size: 80%;
    padding: 0 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
    height: 25px;
    margin: 1px 1px 10px 1px;
}

.mapa a {
    display: inline-block;
    float: left;
    height: 24px;
    line-height: 23px;
}

.mapa a.current, .mapa a.current:hover {
    color: #9E9E9E;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
}

.mapa a:link, .mapa a:visited {
    color: #44474F;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    font-weight: bold;
}

.mapa a:hover {
    color: #222222;
}

.mapa_div {
    display: inline-block;
    width: 12px;
    height: 24px;
    background: url(../../imagenes/breadcrumb_divider.png) no-repeat;
    float: left;
    margin: 0 5px;
}

/* -- Mapa -- */
/* -- input -- */
input, select {
    font-family: Verdana;
    font-size: 11px;
    border: 1px solid #c5c5c5;
    padding: 5px;
    color: #323232;

    background-color: #ffffff;
    outline: none;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;

    -moz-box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    -o-box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    -webkit-box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    -khtml-box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
    box-shadow: inset 0px 1px 3px rgba(128, 128, 128, 0.1);
}

input[disabled] {
    background: #e0e0e0;
}

input[readonly] {
    background: #e0e0e0;
}

/* select.empresa {
	width: 30em;
}
select.nombre {
	width: 25em;
} */
input.usuario {
    background-image: url(../../imagenes/iconos/usuario.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: uppercase;
}
input.uppercase, textarea.uppercase {
    
    text-transform: uppercase;
}

input.id {
    background-image: url(../../imagenes/iconos/usuario.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: uppercase;
}

input.nombre {
    background-image: url(../../imagenes/iconos/text_allcaps.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: uppercase;
}

input.empresa {
    background-image: url(../../imagenes/iconos/empresa.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: uppercase;
}

input.nombre2 {
    background-image: url(../../imagenes/iconos/text_allcaps.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: uppercase;
}

input.perfil {
    background-image: url(../../imagenes/iconos/group.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: uppercase;
}

input.password {
    background-image: url(../../imagenes/iconos/key.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
}

input.email {
    background-image: url(../../imagenes/iconos/email.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: lowercase;
}

input.telefono {
    background-image: url(../../imagenes/iconos/telefono.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
}

input.direccion {
    background-image: url(../../imagenes/iconos/casa.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: uppercase;
}

input.barrio {
    text-transform: uppercase;
}

input.cargo {
    text-transform: uppercase;
}

input.edad {
    padding-left: 2em;
    text-align: left;
}

input.web {
    background-image: url(../../imagenes/iconos/web.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: lowercase;
}

input.codigo {
    background-image: url(../../imagenes/iconos/tag_blue.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
}

input.referen {
    background-image: url(../../imagenes/iconos/tag_blue.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-transform: uppercase;
}

input.pedido {
    background-image: url(../../imagenes/iconos/page_white_text.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2em;
    text-align: left;
}

input.consecutivo {
    text-align: left;
    padding-left: 2.5em;
}

input.fecha {
    background-image: url(../../imagenes/iconos/date.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
}

input.documento {
    text-align: left;
    text-transform: uppercase;
    padding-left: 2.5em;
}

input.valor {
    background-image: url(../../imagenes/iconos/valor.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    /* text-align: right; */
    text-align: left !important;
    padding-left: 2.5em
}

input.cantidad {
    background-image: url(../../imagenes/iconos/cantidad.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    text-align: left;
    padding-left: 2.5em;
}

input.porcentaje {
    background-image: url(../../imagenes/iconos/porcentaje.png) !important;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    text-align: left;
    padding-left: 2.5em;
}

.separador {
    border-top: 2px dashed #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -- input -- */
.reporte {
    text-align: right;
}

#carga {
    display: none;
}

.boton {
    margin-top: 5px;
    text-align: center;
}

img.gray {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
}

img.grayscale:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

img.half-grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.5\'/></filter></svg>#grayscale");
    filter: gray alpha(opacity=50);
    -webkit-filter: grayscale(50%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
}

img.half-grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.logo {
    width: 550px;
    height: 100px;
    float: left;
}

#columna {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -o-column-count: 2;
    -o-column-gap: 10px;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.bootstrap-select > select {
    left: 0 !important;
}