#nav {
    position:relative;
    z-index:2;
}
#nav ul {
    background-color:#DDD;
    border:1px solid #999;
    display: flex;
    list-style:none outside none;
    margin:0;

}
#nav ul ul {
    background-color:#FFFFFF;
    border:1px solid #999;
    display:none;
    height:auto;
    left:0;
    padding:0;
    position:absolute;
    top:25px;
    width:168px;
    background-image:-webkit-gradient(left center , #F8FAFF 0%, #DDD 15%, #FFFFFF 15%, #FFFFFF 100%);
    background-image:-moz-linear-gradient(left center , #F8FAFF 0%, #DDD 15%, #FFFFFF 15%, #FFFFFF 100%);
}
#nav ul ul ul {
    display:none;
    left:168px;
    position:absolute;
    top:-1px;
    width:168px;
}
#nav ul li {
    float:left;
    margin-right:1px;
    position:relative;
}
#nav ul li a {
    border:1px solid #DDD;
    color:#000;
    cursor:default;
    display:block;
    font-size:11px;
    padding:3px 3px 4px;
    text-decoration:none;
}
#nav ul li span {
    background:url(../../imagenes/u.gif) no-repeat scroll 90% center transparent;
    border:1px solid #DDD;
    color:#000;
    cursor:default;
    display:block;
    font-size:11px;
    padding:3px 20px 4px 3px;
    position:relative;
}
#nav ul li span img{
	border-width:0;
	float:left;
	margin-right:5px;
	vertical-align:middle
}
#nav ul ul li span {
    background:url(../../imagenes/s.gif) no-repeat scroll 97% center transparent;
}
#nav ul ul li {
    float:none;
    margin-right:0;
    padding:1px;
    text-indent:10px;
}
#nav ul ul li a,#nav ul ul li span {
    border:1px solid transparent;
    padding:3px 3px 5px 5px;
}
#nav ul ul li a img,#nav ul ul li span img {
    border-width:0;
    float:left;
    margin-right:5px;
    vertical-align:middle;
}
#nav ul li:hover > a,#nav ul li:hover > span {
    background-color:#FFF2C8;
    border:1px solid #999;
    color:#000;
}
#nav img.close {
    display:none;
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:-1;
}
#nav ul li span:focus + ul,#nav ul li ul:hover,#nav ul:hover + img.close {
    display:block;
}
#nav ul li img {
	padding-top: 0.2em;
	height:1em;
    width:1em;
}